main#menu {
  background: #f9f9f9;
  border-radius: 45px 45px 0 0;
  width: 100%;
  margin: 13.6em 0 0 0;
  /*animation: menu-load 3s ease-in;
  animation-delay: 200ms;*/
}

.card {
  animation: menu-load 1s;
  animation-fill-mode: backwards;
}

.card1 {
  animation: menu-load 1s;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.card2 {
  animation: menu-load 1s ease-out;
  animation-delay: 700ms;
  animation-fill-mode: backwards;
}

.card3 {
  animation: menu-load 1s ease-out;
  animation-delay: 900ms;
  animation-fill-mode: backwards;
}

.card4 {
  animation: menu-load 1s ease-out;
  animation-delay: 1100ms;
  animation-fill-mode: backwards;
}

.card5 {
  animation: menu-load 1s ease-out;
  animation-delay: 1300ms;
  animation-fill-mode: backwards;
}

.card6 {
  animation: menu-load 1s ease-out;
  animation-delay: 1500ms;
  animation-fill-mode: backwards;
}

.card7 {
  animation: menu-load 1s ease-out;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
}

.card8 {
  animation: menu-load 1s ease-out;
  animation-delay: 1900ms;
  animation-fill-mode: backwards;
}

.card9 {
  animation: menu-load 1s ease-out;
  animation-delay: 2200ms;
  animation-fill-mode: backwards;
}

header {
  display: flex;
  justify-content: space-around;
  height: 2em;
  padding: 15px;
  margin-left: -27px;
}

header i {
  align-self: center;
  font-size: 23px;
  font-weight: bold;
}

header img {
  margin-right: 60px;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  margin: 0%;
}

h1 {
  font-family: "Shrikhand";
  padding: 35px 0px 0px 18px;
  font-size: 32px;
  font-weight: 500;
  margin-left: 10px;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-left: 15px;
  border-bottom: 3px solid #99e2d0;
  margin: 50px 0 0px 25px;
  width: 50px;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;

  margin-right: -28px;

  overflow: hidden;
}
.La_française {
  background: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 100%;
  height: 17em;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.La_note {
  background: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  width: 100%;
  height: 17em;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.La_palette {
  background: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 100%;
  height: 17em;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.Le_délice {
  background: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  width: 100%;
  height: 17em;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.card {
  background-color: white;
  width: 91%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  margin: 18px 0px 0px 19px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.prix {
  display: flex;
  justify-content: space-between;
}

.prix p {
  width: 29px;
  margin-right: -10px;
}

.card h3 {
  margin: 12px 0px -10px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

button {
  border-radius: 30px;
  height: 54px;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: 0;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  width: 50%;
  margin: 50px 0px 50px 110px;
  border-radius: 30px;
}

#haut {
  position: relative;
  overflow: auto;
}
footer {
  background: #383838;
  padding: 30px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

footer .part2 {
  font-weight: 300;
}

footer .fa-solid {
  margin-right: 8px;
  font-size: 14px;
}

.Footerp {
  font-size: 16px;
}
footer p {
  margin: 13px 0;
}

.Heart {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Heart i {
  border-color: #383838;
  transition: color 2s;
  transform: scale(1);
  margin-right: 42px;
  margin-top: 25px;
  align-self: center;
}

.Heart i:hover {
  /*transform: scale(1.2);*/
  font-weight: bold;
  color: #9356dc;
  animation: heart-load;
  animation-duration: 2s;
}

@keyframes heart-load {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes menu-load {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  width: 100%;
  padding: 0px 25px 0 10px;
  overflow: hidden;
}

.check .fa-solid {
  color: white;
  font-size: 24px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  width: 0;
  transition: all 1s ease;
}
.card:hover .check {
  animation: select 2s both;
  width: 23%;
  margin-right: 0%;
}

.card:hover .fa-solid {
  animation: anime 1.5s both;
}

@keyframes anime {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  header img {
    margin-right: 12em;
    margin-left: 6em;
  }

  button {
    margin-left: 11em;
  }
}
@media screen and (min-width: 1024px) {
  .card h3 {
    margin: 12px 0px -20px 0px;
  }

  #haut {
    display: flex;
    justify-content: center;
  }

  main#menu {
    width: 70%;
    margin: 19.6em 0 0 0;
  }

  .Le_délice {
    height: 20em;
    background-position: center;
  }

  .Menu {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    font-size: 40px;
    margin-left: 0%;
  }

  header i {
    font-size: 40px;
    margin-right: 17em;
  }

  header img {
    height: 50px;
    margin-right: 8em;
    margin-left: -9em;
  }

  h2 {
    width: 100%;
    margin: 0px 0 0 25px;
  }

  .Le_délice,
  .La_palette,
  .La_note,
  .La_française {
    height: 20em;
    background-position: center;
  }
  .card {
    width: 46%;
    height: 75px;
  }

  button {
    border-radius: 50px;
    height: 100px;
    font-size: 20px;
    width: 25%;
    margin-left: 13.5em;
  }

  .prix p {
    width: 60px;
    margin-right: -42px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17px;
  }
  p {
    font-size: 17px;
  }

  .Heart {
    font-size: 35px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .Menu {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    font-size: 40px;
  }

  header i {
    font-size: 40px;
    margin-right: 17em;
  }

  header img {
    height: 50px;
    margin-right: 14em;
    margin-left: -6em;
  }

  h2 {
    width: 100%;
  }

  main#menu {
    width: 70%;
    margin: 24.6em 0 0 0;
  }

  .Le_délice,
  .La_palette,
  .La_note,
  .La_française {
    height: 25em;
    background-position: center;
  }

  .card {
    width: 40%;
    height: 95px;
    margin: 10px 0px 10px 20px;
    margin-left: 17em;
  }

  button {
    border-radius: 50px;
    height: 100px;
    font-size: 25px;
    width: 25%;
    margin-left: 15.5em;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  .prix p {
    width: 60px;
    margin-right: -35px;
  }

  .Heart {
    font-size: 35px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .Menu {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    font-size: 40px;
  }

  header i {
    font-size: 40px;
    margin-right: 17em;
  }

  header img {
    height: 50px;
    margin-right: 20em;
    margin-left: 0;
  }

  h2 {
    width: 100%;
  }

  .Le_délice,
  .La_palette,
  .La_note,
  .La_française {
    height: 30em;
    background-position: center;
  }

  main#menu {
    width: 70%;
    margin: 29.6em 0 0 0;
  }

  .card {
    width: 31%;
    height: 95px;
    margin: 30px 0px 30px 20px;
  }

  button {
    border-radius: 50px;
    height: 100px;
    font-size: 25px;
    width: 25%;
    margin-left: 19.5em;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }

  .Heart {
    font-size: 35px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}
jnkj
