body {
  font-family: "Roboto";
  font-size: 18px;

  margin: 0%;
}

.Fonctionnement {
  margin-left: 27px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.Fonctionnement h2 {
  margin: 30px 0px 30px -10px;
}

.Fforme {
  border-radius: 30px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 25px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.Fforme:hover {
  background-color: #f4edfe;
  box-shadow: 15px 12px 10px #c2c2c2;
}
.Fforme:hover .fa-solid {
  color: #9356dc;
}

a {
  text-decoration: none;
  color: inherit;
}

.texte a {
  text-decoration: none;
  color: black;
}

.numéro {
  background: #9356dc;
  border-radius: 100%;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin: -14px;
}

section .fa-solid {
  margin-left: 40px;
  margin-right: 30px;
  color: grey;
  font-size: 20px;
}

.Restaurant {
  background: #f6f6f6;
  padding: 12px 10px 70px 10px;
}

.Restaurant h2 {
  margin: 50px 0px 0px 10px;
}

section .card {
  width: 95%;
  height: 16em;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  background-color: white;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
}
section .container {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-top: 15px;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
}

.New {
  background: #99e2d0;
  width: 80px;
  color: green;
  position: relative;
  right: 20px;
  height: 22px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

.La_palette p {
  font-weight: 500;
  font-size: 17px;
}

.La_note p {
  font-weight: 500;
  font-size: 17px;
}

.Heart {
  font-size: 1.5em;
  margin-right: 25px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -5px;
  font-weight: bold;
}

.Heart i {
  border-color: #383838;
  transition: color 2s;
  transform: scale(1);
}

.Heart i:hover {
  /*transform: scale(1.2);*/
  font-weight: bold;
  color: #9356dc;
  animation: heart-load;
  animation-duration: 2s;
}

@keyframes heart-load {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container p {
  margin: -6px 0px 0px 0px;
  font-weight: 300;
}
.La_palette {
  background: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
    repeat 0 0;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0px 0px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.La_note {
  background: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) repeat 0 0;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0px 0px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.La_française {
  background: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg)
    repeat 0 0;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0px 0px;
  background-position: center;
  background-size: cover;
}

.Le_délice {
  background: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
    repeat 0 0;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0px 0px;
  background-position: center;
  background-size: cover;
}

footer {
  background: #383838;
  padding: 30px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

footer .part2 {
  font-weight: 300;
}

footer .fa-solid {
  margin-right: 8px;
  font-size: 14px;
}

.Footerp {
  font-size: 16px;
}
footer p {
  margin: 13px 0;
}
#barre {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  box-shadow: 0px 8px 8px 13px lightgrey;
}

#barre .icone {
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: #383838;
}

.search {
  margin-right: 10px;
}

header {
  text-align: center;
  padding: 15px;
}

.Apropos {
  background: #f9f9f9;
  padding: 20px 20px 60px;
  text-align: center;
}

.Apropos h1 {
  margin-top: 50px;
  font-size: 33px;
}

button {
  border-radius: 30px;
  height: 54px;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: 0;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  width: 63%;
  transform: scale(1);
  transition: transform 400ms;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}
button:hover {
  transform: scale(1.2);
  box-shadow: 0px 5px 45px 10px rgb(147 86 220 / 69%);
  opacity: 0.9;
}

.Apropos p {
  font-size: 20px;
  font-weight: 300;
}

#spinner {
  position: fixed;
  background-color: #f9f9f9;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: fond 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#spinner::after {
  content: "";
  animation: spin 3s infinite linear;
  width: 100px;
  height: 100px;
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #99e2d0;
  border-radius: 50%;
  /*border: 30px solid;
  padding: 20px;
  border-image: linear-gradient(#ff79da, #9356dc, #99e2d0);*/
}

@keyframes fond {
  0% {
    transform: translatex(-9999px);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  header {
    font-size: 30px;
  }

  header img {
    height: 50px;
  }

  #barre {
    font-size: 30px;
  }
  .Restaurant h2 {
    margin: 50px 0px 0px 10px;
    width: 100%;
    font-size: 32px;
  }

  .Restaurant {
    background: #f6f6f6;
    padding: 12px 10px 70px 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  section .card {
    width: 40%;
    height: 11em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background-color: white;
    margin: 50px 40px 45px 50px;
    border-radius: 30px;
    /* padding: 46px; */
  }

  .container p {
    margin: 0px 0px 0px 0px;
    font-weight: 300;
    font-size: 18px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .Heart {
    font-size: 25px;
  }

  .Apropos h1 {
    margin-top: 50px;
    font-size: 32px;
    width: 100%;
    margin-left: 0%;
  }

  .Apropos p {
    font-size: 28px;
    font-weight: 300;
  }

  button {
    border-radius: 30px;
    height: 80px;
    font-size: 20px;
    width: 25%;
  }

  .Fonctionnement {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .Fonctionnement h2 {
    width: 100%;
    font-size: 32px;
  }

  .Fforme {
    width: 27%;
    height: 100px;
    margin: 30px 26px;
    font-size: 26px;
  }

  section .fa-solid {
    font-size: 30px;
  }

  .numéro {
    font-size: 26px;
    width: 55px;
  }

  a {
    font-size: 18px;
  }

  .New {
    width: 90px;
    height: 24px;
  }

  .La_palette p {
    font-size: 18px;
  }

  .La_note p {
    font-size: 18px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    font-size: 30px;
  }

  header img {
    height: 50px;
  }

  #barre {
    font-size: 30px;
  }
  .Restaurant h2 {
    margin: 50px 0px 0px 10px;
    width: 100%;
  }

  .Restaurant {
    background: #f6f6f6;
    padding: 12px 10px 70px 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  section .card {
    width: 43%;
    height: 13em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background-color: white;
    margin: 50px 40px 45px 50px;
    border-radius: 30px;
    /* padding: 46px; */
  }

  .Apropos h1 {
    margin-top: 50px;
    font-size: 35px;
    width: 100%;
    margin-left: 0%;
  }

  .Apropos p {
    font-size: 28px;
    font-weight: 300;
  }

  a {
    font-size: 25px;
  }

  p {
    font-size: 24px;
  }

  h3 {
    font-size: 28px;
  }

  .container p {
    font-size: 25px;
  }

  .Heart {
    font-size: 28px;
  }

  .New {
    width: 105px;
    height: 32px;
  }

  button {
    border-radius: 28px;
    height: 80px;
    font-size: 30px;
    width: 25%;
  }

  .Fonctionnement {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .Fonctionnement h2 {
    width: 100%;
  }

  .Fforme {
    width: 29%;
    height: 100px;
    margin: 30px 30px;
    font-size: 30px;
  }

  section .fa-solid {
    font-size: 30px;
  }

  .numéro {
    font-size: 30px;
    width: 30px;
  }

  .New {
    width: 105px;
    height: 32px;
  }

  .La_palette p {
    font-size: 25px;
  }

  .La_note p {
    font-size: 25px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}

@media screen and (min-width: 1920px) {
  header {
    font-size: 30px;
  }

  header img {
    height: 50px;
  }

  #barre {
    font-size: 30px;
  }
  .Restaurant h2 {
    margin: 50px 0px 0px 10px;
    width: 100%;
  }

  .Restaurant {
    background: #f6f6f6;
    padding: 12px 10px 70px 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  section .card {
    width: 45%;
    height: 15em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    background-color: white;
    margin: 50px 40px 45px 50px;
    border-radius: 30px;
    /* padding: 46px; */
  }

  .Apropos h1 {
    margin-top: 50px;
    font-size: 42px;
    width: 100%;
    margin-left: 0%;
  }

  .Apropos p {
    font-size: 35px;
    font-weight: 300;
  }

  button {
    border-radius: 30px;
    height: 80px;
    font-size: 30px;
    width: 25%;
  }

  .Fonctionnement {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .Fonctionnement h2 {
    width: 100%;
  }

  .Fforme {
    width: 30%;
    height: 100px;
    margin: 30px 30px;
    font-size: 30px;
  }

  section .fa-solid {
    font-size: 30px;
  }

  .numéro {
    font-size: 30px;
    width: 30px;
  }

  .New {
    width: 120px;
    height: 40px;
  }

  .La_palette p {
    font-size: 30px;
  }

  .La_note p {
    font-size: 30px;
  }

  footer {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer .fa-solid {
    font-size: 30px;
  }
}
